<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/LeagueofLegend/index">กลับหน้าแรก LeagueofLegend</a>
    <form action="/LeagueofLegend/save" method="POST">

        <label for="itemname">กรอกชื่อ ไอเท็ม : </label>
        <input type="text" id="itemname" name="itemname"><br><br>

        <label for="damageitem">ดาเมจไอเท็มที่ทำได้ : </label>
        <input type="text" id="damageitem" name="damageitem"><br><br>

        <label for="categoryitem">ชนิดไอเท็ม : </label>
        <input type="text" id="categoryitem" name="categoryitem"><br><br>

        <label for="ablityitem">ความสามารถ : </label>
        <input type="textarea" id="ablityitem" name="ablityitem"><br><br>

        <label for="price">ราคาไอเท็ม : </label>
        <input type="text" id="price" name="price"><br><br>

        

        <input type="submit" value="Submit">

    </form>
</body>
</html>